
.hover-card {
    transition: background-color 0.3s, transform 0.3s;
    background-color: white;
  }
  
  .hover-card:hover {
    background-color: #b7d7e8; 
    transform: translateY(-5px); 
    border-color: black;
    border-radius: 0.5rem;
  }