/* Footer.css */

.footer {

    width: 100%; /* Ensure it covers full width */
    padding: 0;
    margin: 0;
    position: relative; /* Allows control over margins */
    left: 0; /* Aligns to the left */
    right: 0;
    border-top: 1px solid grey;
    
    
  }
  
  .footer-container {
    width: 100%; /* Full width container */
    padding: 0;
    margin: 0;
  }