 html, body {
  background-color: rgb(199, 230, 240) !important; /* Apply green background to the entire page */
  min-height: 100vh;                  /* Ensure it covers the full viewport height */
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the root element also spans the full height */
}

.container {
  padding: 20px;       /* Optional padding */
  color: rgb(9, 0, 0);        /* Adjust text color for contrast */
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  
}


/* src/components/JobCard.css */

.job-card {
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
  background-color: #e0f7fa; /* Light blue background on hover */
  transform: scale(1.03); /* Slightly increase size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

