 html, body {
  background-color: #f8f4ee !important; 
  min-height: 100vh;                  
  margin: 0;
  padding: 0;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.container {
  padding: 20px;     
  color: rgb(9, 0, 0);       
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  
}


/* src/components/JobCard.css */

.job-card {
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
  background-color: #e0f7fa; 
  transform: scale(1.03); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

